body {
  background-color: #f3f6fa;
  font-family: 'Open Sans', sans-serif;
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
section form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-between;
  padding: 30px;
  width: 377px;
}

form h2 {
  color: #0950a1;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

form label {
  font-size: 15px;
  color: #4c4c4c;
  font-weight: 500;
}

form p {
  color: #0950a1;
  cursor: pointer;
  text-align: end;
}

form .button {
  display: flex;
  justify-content: center;
}

input[type='submit'] {
  background-color: #0950a1;
  color: white;
  width: 100%;
}
