section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
section form {
  width: 500px;
}

form .button {
  display: flex;
  justify-content: center;
}

input[type='submit'] {
  background-color: #0950a1;
  color: white;
  width: 150px;
}
